body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.carousel-item {
    position: relative;
    height: 600px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pemisah1{
    margin-top: 3%;
}

.pemisah2{
    margin-top: 3%;
    margin-bottom: 6%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    max-height: 250px;
}

.carousel-caption h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.carousel-caption a.btn {
    padding: 10px 20px;
    background-color: #6f3b6d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.carousel-caption a.btn:hover {
    background-color: #5a2d56;
}

.container-card {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-wrapper {
    display: flex;
}

.card-list {
    display: flex;
    list-style: none;
}

.card-item {
    margin-left: 15px;
}

.card-text {
    line-height: 1.5;
}

.location {
    display: block;
    margin-top: 0;
    font-size: 14px;
}

.rating-icon{
    color: gold;
}

.rating-sum{
    color: lightgray;
}

.icon-card{
    width: 50px;
    height: 50px;
}

.card-title{
    color: #2A114B;
    font-weight: bold;
}

.card-text{
    color: #2A114B;
}