body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.tanggalCheck{
    margin-left: 5%;;
}

.Row{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.tanggalForm{
    background-color: white;
    border-radius: 2px;
    color: gray;
    padding: 10%;
    width: 100%;
}

.form-control::placeholder {
    color: lightgray;
    opacity: 1;
}


